.DS_Store
.vscode
*.log
*.aux
*.pdf
!illustrations/chara.pdf
*.out
*.bcf
*.toc
*.cfg
*.run.xml
*.bbl
*.blg
*.fff
*.ttt
code/
illustrations/
cpp/
coverLetter/
corrections
graphs/
appendices/*
!appendices/app_*.tex
diff*.tex
